{% extends "admin/omniforms/base/related_form.html" %}{% load i18n admin_urls %}


{% if not is_popup %}
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'change' omni_form.pk %}">{{ omni_form|capfirst }}</a>{% else %}{{ omni_form|truncatewords:"18" }}{% endif %}
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'addhandler' omni_form.pk %}">Add Handler</a>{% else %}Add Field{% endif %}
        &rsaquo; Create Handler
    </div>
    {% endblock %}
{% endif %}
