<h2>{{ title }}</h2>

<table class="listing">
    <col />
    <col width="15%" />
    <col width="15%" />
    <col width="15%" />
    <thead>
        <tr>
            <th>Name</th>
            <th>Add</th>
            <th>Change</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for content_perms_dict in object_perms %}
        <tr>
            <td class="title"><h3>{{ content_perms_dict.object|capfirst }}</h3></td>
            <td>
                {% if content_perms_dict.add %}{{ content_perms_dict.add.tag }}{% endif %}
            </td>
            <td>
                {% if content_perms_dict.change %}{{ content_perms_dict.change.tag }}{% endif %}
            </td>
            <td>
                {% if content_perms_dict.delete %}{{ content_perms_dict.delete.tag }}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
